.app {
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  height: 100vh;
  width: 100vw;
}

.app__header {
  padding: 20px;
  text-align: center;
}

.app__header h1 {
  text-shadow: 2px 2px black;
  color: white;
}

.app__header-form {
  padding: 25px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app__header-form input {
  width: 65vw;
}

.app__header-form button {
  margin-left: 20px;
  color: black;
  width: 10vw;
  height: 10%;
}
