.todo:nth-last-of-type(odd) {
  text-align: center;
  background-color: rgba(212, 212, 212, 0.5);
}

.todo__header {
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
}

.todo ul {
  list-style: none;
}

.todo ul li {
  text-align: center;
}
